# ------ Requirements Personalizados Sin Versión------
# Para incorporarte al proyecto, necesitarás tener Python, un editor de código como VSCode o pyCharm instalado.

# La Adquisición de Datos de TransferMarket requiere seguir los siguientes pasos en tu cmd local:
# Clonar el repositorio
# $ git clone https://github.com/felipeall/transfermarkt-api.git
# Ir a la carpeta raíz del proyecto
# $ cd transfermarkt-api
# Instanciar un entorno virtual con Poetry
# $ poetry shell
# Instalar las dependencias
# $ poetry install --no-root
# $ export PYTHONPATH=$PYTHONPATH:$(pwd)
# Iniciar el servidor de la API
# python app/main.py
# Acceder a la página local de la API
# open http://localhost:8000/

# Bibliotecas necesarias:
pandas
requests
selenium
time
joblib
numpy
ast
fuzzywuzzy
matplotlib
seaborn
statsmodels
spicy
